
@{
    ViewData["Title"] = "MiSolicitud";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

    .page-title {
        color: #a79a66;
    }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <circle cx="12" cy="10" r="3" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
            <h2 class="page-title">
                Mis Solicitudes
            </h2>
        </div>
    </div>
}

@section PageActions{


}

@(Html.DevExtreme().DataGrid<SPP.Models.Entity.Pago>()
    .DataSource(ds => ds.Mvc()
        .Controller("Pagoes")
        .LoadAction("Get")
        .Key("IdPago")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.IdPago);

        columns.AddFor(m => m.IdTipoAdelanto).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("TipoAdelantosLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.IdProveedor).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("ProveedoresLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.FechaSolicitud);

        columns.AddFor(m => m.IdTipoMoneda).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("TipoMonedasLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Importe);

        columns.AddFor(m => m.Concepto);

        columns.AddFor(m => m.LoginSolicitante).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("UsuariosLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.LoginAprobador).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("AprobadorAreasLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.ReferenciaOC);

        columns.AddFor(m => m.ProformaCotizacion);

        columns.AddFor(m => m.Factura);

        columns.AddFor(m => m.IdTipoPago).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("TipoPagosLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Observaciones);

        columns.AddFor(m => m.FechaAprobacion);

        columns.AddFor(m => m.IdEstado).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("EstadosLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.InformacionContable);

        columns.AddFor(m => m.CuentaBancaria);

        columns.AddFor(m => m.BeneficiarioNombre);

        columns.AddFor(m => m.BeneficiarioDni);

        columns.AddFor(m => m.IdBanco).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("BancosLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.IdTipoCuenta).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Pagoes").LoadAction("TipoCuentasLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );
    })
)