

@{
    ViewData["Title"] = "Bienvenida";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}


<style>

    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

    .page-title {
        color: #a79a66;
    }

    .container{
        width: 85%;
    }

    .markdown{
        font-family: 'Poppins';
    }

    .a{
        margin-top:50px;
        width: 80px;
        margin-right:20px;
    }


</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="5 12 3 12 12 3 21 12 19 12" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
            <h2 class="page-title">
                Bienvenida
            </h2>
        </div>
    </div>
}

@section PageActions{


}


<div class="row row-cards">
    <div class="col-12">
        <div class="card card-md">
            <div class="card-stamp card-stamp-lg">
                <div class="card-stamp-icon bg-primary">
                    <svg class="a" version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="1281.000000pt" height="1589.000000pt" viewBox="0 0 1281.000000 1589.000000"
                         preserveAspectRatio="xMidYMid meet">
                          <g transform="translate(0.000000,1589.000000) scale(0.100000,-0.100000)"
                          fill="#000000" stroke="none">
                         <path d="M20 9405 l0 -6475 3133 0 c3114 0 3665 5 4127 35 1104 73 1971 225
                        2770 487 1299 426 2153 1105 2528 2010 246 590 287 1306 111 1899 -85 286
                        -249 607 -437 854 -469 615 -1207 1081 -2122 1340 -284 81 -586 139 -904 175
                        -94 11 -172 20 -174 20 -2 0 -2 10 0 22 3 19 21 26 168 63 916 231 1628 595
                        2121 1085 447 444 683 960 724 1580 12 178 -20 519 -71 748 -66 294 -218 635
                        -398 887 -185 259 -461 526 -753 727 -729 504 -1765 836 -2998 962 -502 52
                        -328 50 -4212 53 l-3613 4 0 -6476z m6080 4505 c1174 -42 1923 -230 2410 -605
                        90 -69 227 -219 290 -317 97 -150 159 -323 185 -518 138 -1019 -736 -1683
                        -2395 -1820 -293 -24 -675 -30 -2042 -30 l-1448 0 0 1650 0 1650 1363 0 c749
                        0 1486 -5 1637 -10z m780 -5278 c820 -55 1409 -162 1809 -329 592 -247 906
                        -597 1012 -1130 30 -154 38 -447 15 -600 -44 -300 -141 -522 -327 -746 -349
                        -423 -1041 -718 -1967 -837 -576 -74 -551 -73 -2539 -77 l-1783 -4 0 1871 0
                        1871 1808 -4 c1152 -3 1867 -8 1972 -15z" />
                        </g>
                    </svg>

                </div>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-10">
                        <div class="markdown">
                            <p>¡Hola y bienvenido a la aplicación web de Pago de Proveedores de Barrick!</p>
                            <p>¿Estás listo para empezar tu día con el pie derecho? Nosotros estamos aquí para ayudarte a administrar tus pagos de una manera fácil y rápida. Con nuestra aplicación web, podrás realizar tus pagos de proveedores en un abrir y cerrar de ojos.</p>
                            <p>Así que, toma tu café, relájate y disfruta de la tranquilidad de saber que tus pagos están en buenas manos. ¡Bienvenido a la familia Barrick!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
